
* { 
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

.contener {
    margin: 6vh;
    font-family: "Raleway", sans-serif;
    font-size: 1.1em;
}

header {
  display:grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . nav inscription";
}

.logo {
  width: 100px;
  grid-area:logo;
  padding-bottom:40px;
}

ul {
  list-style-type:none;
}

li {
  float: right; 
}

a {
  text-decoration: none;
  color: black;
}

.menu{
  grid-area:nav;
}

.hebergements {
  padding: 70px; 
}

.activités {
  padding-right: 70px;
}

.inscription {
  grid-area:inscription;
  color: blue;
  font-weight: bold;
}
#icon {
  padding: 15px 12px 15px 18px;
  background-color: #E9E9E9;
  width: 22px;
  height: 20px;
  border-radius: 15px 0 0 15px;
  font-size: 20px; 
}

.search_box{
    border-right: none;
    border-left: none;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    width: 250px;
    padding-left: 20px;
    font-weight: bold;
    color: black;
    font-size: 1em;
}

input::placeholder {
  color: black;
}

.button{ 
  background: #0067FF;
  height: 50px;
  width: 130px;
  border-radius: 0 15px 15px 0; 
  color: white;
  border: none;
  font-size: 18px;
}

.search{
  display: inline-flex;
}

h1 {
  font-size: 1.4em;
  padding-bottom: 0.2em;
}

h2 {
  font-weight: normal;
  font-size: 1.1em;
  padding-bottom: 1em;
}

.search_filters{
  display:grid;
  grid-template-columns: auto auto auto auto auto 1fr;
  grid-template-areas: "title économique familial romantique animaux .";
}

.filter_title {
  grid-area:title;
}

.filter_économique {
  grid-area:économique;
}

.filter_familial {
  grid-area:familial;
}

.filter_romantique {
  grid-area:romantique;
}

.filter_animaux {
  grid-area:animaux;
}
