
* { 
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  
}

body{
  max-width:1200px;
    margin: auto;
    font-family: "Raleway", sans-serif;
    font-size:0.8em;
}

main {
  padding:0 5vh 0 5vh;
}

.header1 {
  display:grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . nav inscription";
  padding: 4rem 5vh 0 5vh;
}

.logo {
  width: 100px;
  grid-area:logo;
  padding-bottom:40px;
}

ul {
  list-style-type:none;
}

.menu li {
  float: left; 
}

a {
  text-decoration: none;
  color: black;
}

.menu{
  grid-area:nav;
  font-size:0.9rem;
}

.hebergements {
  padding: 35px; 
  color: #0067FF;
  border-top: 3px solid #0067FF;
}

.activités {
  padding-right: 70px;
  padding-left:35px;
}

.activités:hover {
  padding-top: 35px; 
  color: #0067FF;
  border-top: 3px solid #0067FF;
}

.inscription {
  grid-area:inscription;
  color: #0067FF;
  font-weight: bold;
}

#icon {
  padding: 15px 12px 17px 18px;
  background-color: #E9E9E9;
  width: 22px;
  height: 20px;
  border-radius: 15px 0 0 15px;
  font-size: 20px; 
}

.search_box{
    border-right: none;
    border-left: none;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    width: 250px;
    padding-left: 20px;
    font-weight: bold;
    color: black;
    font-size: 1em;
}

input::placeholder {
  color: black;
}

.button{ 
  background: #0067FF;
  height: 53px;
  width: 135px;
  border-radius: 0 15px 15px 0; 
  color: white;
  border: none;
  font-size: 18px;
}

.search{
  display: inline-flex;
}

h1 {
  font-size: 1.4em;
  padding-bottom: 0.2em;
}

.sous_h1{
  font-weight: normal;
  font-size: 1.1em;
  padding-bottom: 1em;
}

.filter_category {
  display:inline-flex;
  align-items: center;
  border: 3px solid #DEDEDE;
  border-radius: 30px;
  margin-right:30px;
  height:40px;
  cursor: pointer;
}

.search_filters {
  display:inline-flex;
  margin-top:30px;
}

.filter_icon{
  background-color: #D4E5FE;
  display: flex;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color:  #0067FF;
  margin-left:-5px;
}

.filter_title {
  margin-right: 20px;
  margin-left:10px;
  font-size:15px;
  font-weight:bold;
}

.filter_title_Filtre {
  font-weight:bold;
  display:flex;
  align-items:center;
  margin-right:33px;
  font-size:1rem;
}

.filter_category:hover{
  color:white;
  border: 2px solid  #0067FF;
  background-color: #0067FF;
}

.result_info{
  display: flex; 
  align-items: center;
  margin-top:35px;

}

.info_icon{
  color: #0067FF;
  min-height: 2rem;
  min-width: 2rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid  #DEDEDE;
  margin-right: 1rem;
}




.all_hostings{
  display: grid;
  column-gap: 2.2em;
  grid-template-columns: 2fr 1fr;

}

.hosting{
  display: grid;
  grid-template-columns: 3, 1fr;
  border-radius: 1em;
  column-gap: 2rem;
  row-gap: 2rem;
  background-color: #F2F2F2;
  margin: 2rem 0;
  padding:2.5em;
}

.hosting_title {
  grid-column: 1/ span 3;
}

.hosting_card{
  border-radius: 1.25rem;
  box-shadow: 0 0px 15px #CECECE;
  padding: 0.3rem;
  background-color: white;
  font-size: 0.8em; 
}
  

.hosting_card_img{
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  width: 100%;
  height: 100px;
}

.hosting_name{
  margin:0.4rem;
  margin-left:0.7rem;
}

.hosting_night_price{
  margin: 0 .7rem;
}

.hosting_card_stars{
  margin-top: 0.4rem;
  margin-left:0.7rem;
}

.hosting_card_stars{
  font-size:0.7rem;
}

.hosting_show_more{
  font-weight: bold;
}





.popular_hosting{
  display: grid;
  row-gap: 2.5rem;
  background-color: #F2F2F2;
  padding: 2rem;
  grid-template-columns: 1fr;
  margin: 2rem 0;
  border-radius: 1em;
}

.popular_hosting_card {
  display:flex;
  border-radius: 1.25rem;
  box-shadow: 0 0px 15px #CECECE;
  padding: 0.3rem;
  background-color: white;
  font-size: 0.8em;
}

.popular_hosting_card_img{
  object-fit: cover;
  width: 110px;
  height:115px;
  border-radius: 1rem 0 0 1rem;
}

.description {
  margin-left:0.7em;
}



.activities{
  margin: 2rem 0;
}

.activity_title {
  margin-bottom: 40px;
}

.all_activities {
  display:flex;
  flex-wrap: wrap;
  max-width:1129px;
  justify-content: space-between;
  
}

.activity_card{
  box-shadow: 0 0px 15px #CECECE;
  border-radius: 1rem;
  width: 260px;
  font-size:0.8rem;
}


.activity_card_vertical_img {
  object-fit: cover;
  width:260px;
  height:360px;
}

.activity_card_title {
  margin: 1rem;
}

.activity_card_img {
  height:180px;
  object-fit: cover;
  width: 260px;
}


.all_footer {
  display: flex;
  background-color: #F2F2F2;
  padding: 5vh;
  margin-top:4rem;
}

.footer {
  margin-right:210px;
}

.footer_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer_link {
  margin-top:10px;
}